@import './supplier/tailwind.css';
@import './supplier/primevue.css';
@import './supplier/element-plus.css';

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer color-base {
  :root {
    --primary-base-default: #10b981;
    --surface-base-default: #64748b;

    --primary-base: var(--primary-base-default);
    --surface-base: var(--surface-base-default);
  
    --primary-tone-0: color-mix(in srgb, var(--primary-base) 5%, white 95%);
    --primary-tone-1: color-mix(in srgb, var(--primary-base) 15%, white 85%);
    --primary-tone-2: color-mix(in srgb, var(--primary-base) 25%, white 75%);
    --primary-tone-3: color-mix(in srgb, var(--primary-base) 35%, white 65%);
    --primary-tone-4: color-mix(in srgb, var(--primary-base) 45%, white 55%);
    --primary-tone-5: color-mix(in srgb, var(--primary-base) 55%, white 45%);
    --primary-tone-6: var(--primary-base);
    --primary-tone-7: color-mix(in srgb, var(--primary-base) 65%, black 35%);
    --primary-tone-8: color-mix(in srgb, var(--primary-base) 55%, black 45%);
    --primary-tone-9: color-mix(in srgb, var(--primary-base) 45%, black 55%);
    --primary-tone-10: color-mix(in srgb, var(--primary-base) 35%, black 65%);
    --primary-tone-11: color-mix(in srgb, var(--primary-base) 25%, black 75%);

    --surface-tone-0: color-mix(in srgb, var(--surface-base) 5%, white 95%);
    --surface-tone-1: color-mix(in srgb, var(--surface-base) 15%, white 85%);
    --surface-tone-2: color-mix(in srgb, var(--surface-base) 25%, white 75%);
    --surface-tone-3: color-mix(in srgb, var(--surface-base) 35%, white 65%);
    --surface-tone-4: color-mix(in srgb, var(--surface-base) 45%, white 55%);
    --surface-tone-5: color-mix(in srgb, var(--surface-base) 55%, white 45%);
    --surface-tone-6: var(--surface-base);
    --surface-tone-7: color-mix(in srgb, var(--surface-base) 65%, black 35%);
    --surface-tone-8: color-mix(in srgb, var(--surface-base) 55%, black 45%);
    --surface-tone-9: color-mix(in srgb, var(--surface-base) 45%, black 55%);
    --surface-tone-10: color-mix(in srgb, var(--surface-base) 35%, black 65%);
    --surface-tone-11: color-mix(in srgb, var(--surface-base) 25%, black 75%);
  }
  
  .dark {
    --primary-dark-base: #047857; */
    /* --surface-dark-base: #1f2937;
    --primary-base: var(--primary-dark-base, var(--primary-base-default));
    --surface-base: var(--surface-dark-base, var(--surface-base-default));

    --primary-tone-0: color-mix(in srgb, var(--primary-base) 12%, white 88%);
    --primary-tone-1: color-mix(in srgb, var(--primary-base) 22%, white 78%);
    --primary-tone-2: color-mix(in srgb, var(--primary-base) 32%, white 68%);
    --primary-tone-3: color-mix(in srgb, var(--primary-base) 42%, white 58%);
    --primary-tone-4: color-mix(in srgb, var(--primary-base) 52%, white 48%);
    --primary-tone-5: color-mix(in srgb, var(--primary-base) 62%, white 38%);
    --primary-tone-6: color-mix(in srgb, var(--primary-base) 72%, white 28%);
    --primary-tone-7: color-mix(in srgb, var(--primary-base) 62%, black 38%);
    --primary-tone-8: color-mix(in srgb, var(--primary-base) 52%, black 48%);
    --primary-tone-9: color-mix(in srgb, var(--primary-base) 42%, black 58%);
    --primary-tone-10: color-mix(in srgb, var(--primary-base) 32%, black 68%);
    --primary-tone-11: color-mix(in srgb, var(--primary-base) 22%, black 78%);

    --surface-tone-0: color-mix(in srgb, var(--surface-base) 20%, black 80%);
    --surface-tone-1: color-mix(in srgb, var(--surface-base) 30%, black 70%);
    --surface-tone-2: color-mix(in srgb, var(--surface-base) 40%, black 60%);
    --surface-tone-3: color-mix(in srgb, var(--surface-base) 50%, black 50%);
    --surface-tone-4: color-mix(in srgb, var(--surface-base) 60%, black 40%);
    --surface-tone-5: color-mix(in srgb, var(--surface-base) 70%, black 30%);
    --surface-tone-6: color-mix(in srgb, var(--surface-base) 60%, white 40%);
    --surface-tone-7: color-mix(in srgb, var(--surface-base) 50%, white 50%);
    --surface-tone-8: color-mix(in srgb, var(--surface-base) 40%, white 60%);
    --surface-tone-9: color-mix(in srgb, var(--surface-base) 30%, white 70%);
    --surface-tone-10: color-mix(in srgb, var(--surface-base) 20%, white 80%);
    --surface-tone-11: color-mix(in srgb, var(--surface-base) 10%, white 90%);
  }
}
