@import 'element-plus/dist/index.css';

:root {
  --el-color-primary: var(--p-primary-500);
  --el-color-primary-light-3: var(--p-primary-400);
  --el-color-primary-light-5: var(--p-primary-300);
  --el-color-primary-light-7: var(--p-primary-200);
  --el-color-primary-dark-2: var(--p-primary-700);
  --el-color-success: #22c55e;
  --el-color-warning: #f97316;
  --el-color-info: #0ea5e9;
  --el-color-danger: #ef4444;
}
