@import 'element-plus/dist/index.css';

:root {
  --el-color-primary: var(--primary-tone-6);
  --el-color-primary-light-3: var(--primary-tone-5);
  --el-color-primary-light-5: var(--primary-tone-4);
  --el-color-primary-light-7: var(--primary-tone-3);
  --el-color-primary-light-8: var(--primary-tone-2);
  --el-color-primary-light-9: var(--primary-tone-1);
  --el-color-primary-dark-2: var(--primary-tone-8);
}
