@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary-tone-6);
  --color-primary-0: var(--primary-tone-0);
  --color-primary-50: var(--primary-tone-1);
  --color-primary-100: var(--primary-tone-2);
  --color-primary-200: var(--primary-tone-3);
  --color-primary-300: var(--primary-tone-4);
  --color-primary-400: var(--primary-tone-5);
  --color-primary-500: var(--primary-tone-6);
  --color-primary-600: var(--primary-tone-7);
  --color-primary-700: var(--primary-tone-8);
  --color-primary-800: var(--primary-tone-9);
  --color-primary-900: var(--primary-tone-10);
  --color-primary-950: var(--primary-tone-11);

  --color-primary: var(--surface-tone-0);
  --color-surface-0: var(--surface-tone-0);
  --color-surface-50: var(--surface-tone-1);
  --color-surface-100: var(--surface-tone-2);
  --color-surface-200: var(--surface-tone-3);
  --color-surface-300: var(--surface-tone-4);
  --color-surface-400: var(--surface-tone-5);
  --color-surface-500: var(--surface-tone-6);
  --color-surface-600: var(--surface-tone-7);
  --color-surface-700: var(--surface-tone-8);
  --color-surface-800: var(--surface-tone-9);
  --color-surface-900: var(--surface-tone-10);
  --color-surface-950: var(--surface-tone-11);
}
